@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Oswald:wght@200;300;400;500;600;700&display=swap");
:root {
  --background-color: #11111b;
  --text-color: #c6d0f5;
  --button-color: #181825;
  --button-hover-color: #1e1e2e;

  --accent1: #a6d189;
  --accent2: #e78284;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background-color: var(--background-color);

  font-family: "handy", sans-serif;
}

.canvas {
  margin: 0;
  padding: 0;

  position: absolute;

  width: 400px;
  height: 400px;

  top: 50%;
  transform: translateY(-50%);

  background-color: var(--background-color);

  z-index: 200;
}

.hider-canvas {
  position: absolute;

  width: 400px;
  height: 400px;

  top: 50%;
  transform: translateY(-50%);

  background-color: transparent;

  border: 50px solid var(--background-color);

  z-index: 201;
}

.border-canvas {
  position: absolute;

  width: 400px;
  height: 400px;

  top: 50%;
  transform: translateY(-50%);

  background-color: transparent;

  border: 1px solid var(--accent1);

  z-index: 202;
}

.block {
  position: absolute;

  width: 40px;
  height: 40px;

  background-color: var(--accent1);

  z-index: 50;
}

.block-temp {
  position: absolute;

  width: 40px;
  height: 40px;

  background-color: var(--accent1);

  z-index: 50;

  opacity: 0;
}

.block-temp.active {
  opacity: 1;
}

.food {
  position: absolute;

  width: 40px;
  height: 40px;

  background-color: var(--accent2);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 51;
}

.food path {
  fill: var(--accent2);
}

.food-value {
  text-align: center;

  width: 100%;

  margin: 0;
  padding: 0;

  color: var(--background-color);

  font-family: "Oswald", sans-serif;
  font-size: 0;
  font-weight: 500;
}

.slider {
  position: absolute;
  top: 50%;
  transform: translateY(-209px);

  width: 402px;
  height: 8px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  z-index: 300;
}

.slider-value {
  width: calc(100%);
  height: 100%;

  background-color: var(--accent1);

  -khtml-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;

  z-index: 300;
}

.score {
  font-family: "DM Mono", monospace;

  position: absolute;

  top: 50%;
  left: calc(50% + 200px);

  transform: translate(-100%, -235px);

  color: var(--text-color);

  padding: 0;
  margin: 0;

  text-align: end;

  font-size: 20px;
  font-weight: 500;

  z-index: 500;
}

.level {
  font-family: "DM Mono", monospace;

  position: absolute;

  top: 50%;
  left: calc(50% - 200px);

  transform: translate(0, -235px);

  color: var(--text-color);

  padding: 0;
  margin: 0;

  text-align: end;

  font-size: 20px;
  font-weight: 500;

  z-index: 500;
}

.paused {
  margin: 0;
  padding: 0;

  position: absolute;

  width: 400px;
  height: 400px;

  top: 50%;
  transform: translateY(-50%);
  background-color: #11111be4;

  backdrop-filter: blur(10px);

  padding: 0;
  margin: 0;

  text-align: center;

  display: none;
  justify-content: center;
  align-items: center;

  font-size: 64px;

  z-index: 500;

  font-family: "DM Mono", monospace;
  color: var(--text-color);
  line-height: 60px;

  pointer-events: none;
  opacity: 0;

  transition: all 0.2s ease-in-out;
}

.paused.active {
  display: flex;
  pointer-events: all;
  opacity: 1;
}

.gameover {
  margin: 0;
  padding: 0;

  position: absolute;

  width: 400px;
  height: 400px;

  top: 50%;
  transform: translateY(-50%);

  color: var(--text-color);
  background-color: #11111be4;

  backdrop-filter: blur(10px);

  padding: 0;
  margin: 0;

  text-align: center;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 64px;

  z-index: 500;

  pointer-events: none;
  opacity: 0;
}

.gameover.active {
  display: flex;
  pointer-events: all;
  opacity: 1;
}

.gameover-title {
  font-family: "DM Mono", monospace;

  padding: 0;
  margin: 0;

  font-size: 54px;
  color: var(--text-color);
  line-height: 60px;
}

.gameover-score {
  font-family: "DM Mono", monospace;

  padding: 0;
  margin: 0;
  height: 64px;

  font-size: 32px;
  color: var(--text-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gameover-score path {
  fill: var(--text-color);
}

.gameover-button {
  margin-top: 20px;

  background-color: var(--button-color);
  color: var(--text-color);
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  border: none;

  height: 40px;
  padding: 0 40px;

  cursor: pointer;
  transition-property: border background-color;
  transition: 0.2s ease-in-out;
}

.gameover-button:hover {
  border: 1px solid var(--text-color);
  background-color: var(--button-hover-color);
}

.perks {
  margin: 0;
  padding: 0;

  position: absolute;

  width: 400px;
  height: 400px;

  top: 50%;
  transform: translateY(-50%);

  color: var(--text-color);
  background-color: #11111be4;

  backdrop-filter: blur(10px);

  text-align: center;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 64px;

  z-index: 500;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease-in-out;
}

.perks.active {
  display: flex;
  opacity: 1;
  pointer-events: all;
}

.perks-instructions {
  position: absolute;
  top: 12px;

  font-size: 16px;
  font-family: "DM Mono", monospace;
  color: var(--text-color);

  font-weight: 500;
  font-size: 18px;

  height: 32px;
}

.perks-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.perk {
  outline: none;
  border: none;
  border-radius: 0;
  width: 170px;
  height: 220px;

  background-color: var(--button-color);
  color: var(--text-color);

  font-family: "DM Mono", monospace;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  cursor: pointer;

  margin-top: 20px;

  transition: all 0.2s ease-in-out;
}

.perk:hover {
  transform: translateY(-5px);
  background-color: var(--button-hover-color);
  box-shadow: 0 0 0 1px var(--text-color);
  height: 230px;
}

.perk.selected {
  transform: translateY(-5px);
  background-color: var(--button-hover-color);
  box-shadow: 0 0 0 1px var(--accent1);
  height: 230px;
}

.perk-title {
  margin: 0;
  background-color: transparent;
  width: 100%;
  height: 32px;

  display: grid;
  place-items: center;

  font-weight: 500;
  font-size: 18px;
}

.perk-description {
  margin: 0;
  background-color: transparent;
  width: 100%;
  height: 108px;

  font-weight: 400;
  font-size: 12px;
}

.perks-button {
  position: absolute;
  bottom: 20px;

  background-color: var(--button-color);
  color: var(--text-color);
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  border: none;

  height: 40px;
  width: calc(100% - 40px);

  cursor: pointer;
  transition-property: border, background-color;
  transition: 0.2s ease-in-out;
}

.perks-button:hover {
  border: 1px solid var(--text-color);
  background-color: var(--button-hover-color);
}

.credits {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  bottom: 0;

  color: var(--text-color);

  opacity: 0.2;
}

.credits a {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-size: 16px;

  color: var(--text-color);

  text-decoration: underline;
  cursor: pointer;
}
